*.sdf
*.suo
/Obj/
/Debug/
/Bin/
*.opensdf
*.bat
*.o
*.obj
*.recipe
.vs/*
*.tlog
*.iobj
*.ipdb
*.pdb
*.log
include/Misha.V1/
include/Src.V1/
include/Src.V2/
*.pdf
*.VC.db
*.vcxproj.user
Geodesics/x64/
JPEG/x64/
LineIntegralConvolution/x64/
PNG/x64/
ReactionDiffusion/x64/
TextureFiltering/x64/
ZLIB/x64/
CHOLMOD/*
*/Debug/*
*/Release/*
*/_Eigen/
*~
